header {
    text-align: center;
}

#game-field {
    display: block;
    position: relative;
    padding: 0;
    margin: 0 auto;
    width: 620px;
    height: 620px;
    overflow: hidden;
}

#game-field div {
    float: left;
    /* background-color: #C7C7C7; */
    width: 200px;
    height: 200px;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    user-select: none;
    cursor: default;
}

#game-field .border {
    background-color: #969696;
    border-radius: 5px;
}

#game-field div.hor-border {
    display: block;
    width: 100%;
    height: 10px;
}

#game-field div.vert-border {
    margin: 0;
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 10px;
}

#c-0-1, #c-1-1, #c-2-1 {
    margin-left: 10px;
}

#c-0-2, #c-1-2, #c-2-2 {
    margin-left: 10px;
}

div#menu {
    display: none;
    position: absolute;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 100;
    top: -100%;
}