@font-face {
    font-family: Frijole;
    src: url('../fonts/Frijole.ttf');
}

* {
    margin: 0;
    padding: 0;
    font-family: Frijole, serif;
}

header h1, header h2 {
    text-align: center;
    margin: 0;
}

header h1 {
    color: rgb(224, 154, 65);
    font-size: 80px;
}


header h2 {
    color: rgb(156, 87, 0);
    font-size: 30px;
}

#game {
    display: block;
    position: relative;
    padding: 0;
    margin: 40px auto 0;
    width: 620px;
    height: 620px;
    overflow: hidden;
}

#menu {
    margin: 108px;
    position: absolute;
    display: block;
    /* vertical-align: middle; */
    /* padding: 0; */
    width: 400px;
    height: 400px;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 100;
    top: 0px;
    border: 2px solid grey;
    border-radius: 20px;
}

#game-field {
    display: block;
    position: absolute;
    padding: 0;
    margin: 0 auto;
    width: 100%;
    height: 100%;
}

.game-cell {
    float: left;
    font-family: Serif;
    width: 200px;
    height: 200px;
    font-size: 100px;
    text-align: center;
    vertical-align: middle;
    line-height: 200px;
    user-select: none;
    cursor: default;
}

.border {
    background-color: rgb(93, 93, 93);
    border-radius: 5px;
    float: left;
}

.hor-border {
    display: block;
    width: 100%;
    height: 10px;
}

.vert-border {
    position: absolute;
    display: inline-block;
    height: 100%;
    width: 10px;
}

#c-0-1, #c-1-1, #c-2-1 {
    margin-left: 10px;
}

#c-0-2, #c-1-2, #c-2-2 {
    margin-left: 10px;
}

#result div {
    text-align: center;
    font-size: 48px;
    display: none;
}

#result {
    padding-top: 100px;
}

#win {
    color: green;
}

#loose {
    color: red;
}



#play-btn {
    display: block;
    margin: 0 auto;
    background: #363536;
    background-image: -webkit-linear-gradient(top, #363536, #86d8ff);
    background-image: -moz-linear-gradient(top, #363536, #86d8ff);
    background-image: -ms-linear-gradient(top, #363536, #86d8ff);
    background-image: -o-linear-gradient(top, #363536, #86d8ff);
    background-image: linear-gradient(to bottom, #363536, #86d8ff);
    -webkit-border-radius: 10;
    -moz-border-radius: 10;
    border-radius: 10px;
    /* font-family: Courier New; */
    color: #ffffff;
    font-size: 40px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

#play-btn:hover {
  background: #757575;
  background-image: -webkit-linear-gradient(top, #757575, #86d8ff);
  background-image: -moz-linear-gradient(top, #757575, #86d8ff);
  background-image: -ms-linear-gradient(top, #757575, #86d8ff);
  background-image: -o-linear-gradient(top, #757575, #86d8ff);
  background-image: linear-gradient(to bottom, #757575, #86d8ff);
  text-decoration: none;
}

#play-btn:focus {
    outline:0;
}

/* .highlight {
    background-color: #F3F2F2;
} */

.highlight:hover {
    background-color: #F3F2F2;
}